<div class="container">
  <div class="col-md-6">
    <mat-card class="center-content">
      <mat-card-header>
        
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Financeiro</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Login">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input type="password" matInput placeholder="senha" >
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary">Login</button>
          </mat-tab>

          <mat-tab label="Register">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input type="password" matInput placeholder="senha" >
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Confirme senha</mat-label>
              <input type="password" matInput placeholder="senha" >
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" >Register</button>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>